/*-- scss:defaults --*/
/* -------------------------------------------------
   uj-Inspired Reveal.js Theme (custom.scss)
   ------------------------------------------------- */

/*----- Color Palette (as provided) -----*/
$ujorange:    #f19e4b; // For headings/accent
$ujgreen:  #99bb66; 
$uj-light-grey:   #ffffff;
$uj-dark-grey:    #2E2E2E;

// Light theme base:
$theme-light-back: $uj-light-grey;   
$theme-light-text: $uj-dark-grey;    
$theme-light-link: $ujorange;  
$theme-light-emph: $ujorange;  


// We'll default to the light theme for presentation:
$body-bg:    $theme-light-back;
$body-color: $theme-light-text;
$presentation-heading-color: $ujgreen;
$link-color: $theme-light-link;
$accent-color: $theme-light-emph;
$text-emphasis-color: $theme-light-emph;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
$font-family-sans-serif: "Montserrat", sans-serif;

/* Quarto variables (for headings, text size, line-height) */
$presentation-font-size-root: 48px; 
$presentation-line-height:    2;  
$presentation-heading-font:   $font-family-sans-serif;

/*---------------------------------------------------------
  Basic Reveal.js overrides
----------------------------------------------------------*/

/* Background and text color */
.reveal {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
}

/* Titles/Headings in Dark Blue */
.reveal h1, 
.reveal h2, 
.reveal h3,
.reveal h4 {
  color: $ujgreen; 
  font-family: $presentation-heading-font;
}

.reveal a:hover {
  text-decoration: underline;
  color: $ujgreen;
}

 /* Set a custom color for the bullet marker. */
ul li::marker,
ol li::marker {
  color: #5A317E; /* pick any color */
}


/*-- scss:rules --*/
